<a href="https://colab.research.google.com/github/drixter9/Kunizakaichitai-no-dorikusut-/blob/main/AIDA_Activity1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image](https://developers.redhat.com/blog/wp-content/uploads/2014/09/python-logo.png)

# **Activity 1 - Welcome to Python Fundamentals**
---

© 2021 国境地帯のドリクスタ! <br>
Castillo, James A.<br>
Hernandez, Drixter V. <br>
Medina, Daryll John O. <br>
Salazar, Angelica Mhay C.

This activity revolves around the fundamentals of Python programming. It's goal is to help students be familiarized with the syntax and algorithms used in the said programming language. This activity also highlights the differences amongst programming languages like C++, C# and Java to Python and how easy and short it is to create a program algorithm. 

The activity utilized Google Colab to create a Jupyter Notebook to make it more formal and informative. This activity also covers the basic Python Fundamentals like Variables and Data Types, Operations, Looping Statements, Flow Control, Functions and Grade Calculator.

## Variables and Data Types
---
* Variable in Python is just like other programming laguage they vary, a memory location that you can store and change in future. 

* Data types in Python has many data types and these are int, float, string, list and etc. Usually in other programming language you need to put the data types in before the variable but in Python you can just declare a variable without adding a data type.

In [ ]:
# Initializing string varible
character_name = "Drixter"

In [ ]:
print("there is a man named " + character_name)

In [ ]:
# Initializing int varible
num_1 = 10
num_2 = 20

In [ ]:
print(str(num1) + " is the perfect score in the exam")

In [ ]:
word_1 = "Python"

In [ ]:
print(word_1)
print(word_1 [0])
print(word_1 [1:4])
print(word_1 [2:])
print(word_1 * 4)
type (word_1)

In [ ]:
x = [1, 2, 3, 4, 5, 6, 7, 8]
y = 5
z = "Python"

In [ ]:
# Specifying the data type of the variable
type(x)

list

In [ ]:
type(y)

int

In [ ]:
type(z)

str

## Operations
---
* Operators in Python programming language are special symbols that perform computation on the values and variables, mostly arithmetic and logical are the standard uses in Python. This jupyter notebook contains the different types of operators in python.

### Arithmetic
*   Arithemetic operation in pyhton is just like in other programming language there are Addition, Subtraction, Multiplication, Division, Modulus, Exponential and Floor Division but the operator use for exponential in Python is ** and for Floor division is //.

In [ ]:
num_1 = 5
num_2 = 10
num_3 = 15
num_4 = 20

In [ ]:
# Addition
output = num_1 + num_2
print(output)

15

In [ ]:
# Subtraction
output = num_3 - num_1
print(output)

10

In [ ]:
# Multiplication
output = num_4 * num_2
print(output)

200

In [ ]:
# Division
output = num_2 / num_1
print(output)

2.0

In [ ]:
# Modulus
output = num_4 % num_3
print(output)

5

In [ ]:
# Exponentiation
output = num_3 ** num_2
print(output)

576650390625

In [ ]:
# Floor division
output = num_4 // num_1
print(output)

4

### Assignment Operations
*   Assignment Operation in Python is just like other programming language uses artimetic operations and assign the variables equal to the answer.

In [ ]:
a = 0
b = 12
c = 24
d = 2

In [ ]:
# Adds the right operand with the left operand.
a += b
print(a)

12

In [ ]:
# Subtracts the right operand with the left operand.
a -= c
print(a)

264

In [ ]:
# Multiplies the right operand with the left operand.
a *= c
print(a)

288

In [ ]:
# Divides left operand with the right operand.
a /= b
print(a)

22.0

In [ ]:
# Performs the exponential power calculation on the operators.
a **= d
print(a)

484.0

In [ ]:
# Performs the floor division on the operators.
a //= c
print(a)

20.0

### Comparators
* Comparators in Python are uses to compare varaibles to know if it is True or False.

In [ ]:
value_1 = 1
value_2 = 2
value_3 = 4
value_4 = 8
value_5 = 10
legit_value = 1

In [ ]:
# Two values are equal then the condition is true, if not then false.
output = legit_value == value_1
print(output)

True

In [ ]:
# Two values are not equal then the condition is true, if equal then false.
output = value_1 != value_2
print(output)

True

In [ ]:
# The value of the left is greater than the right then the condition is true, if not then false
output = value_3 > value_4
print(output)

False

In [ ]:
# The value of the left is less than the right then the condition is true, if not then false
output = value_5 < value_3
print(output)

False

In [ ]:
# The value of the left is less than or equal to the right then the condition is true, if not then false
output = value_2 <= value_4
print(output)

True

In [ ]:
# The value of the left is greater than or equal to the right then the condition is true, if not then false
output = value_3 >= value_1
print(output)

True

### Logical
*   Logical Operation in Python uses the aritmetic and logical computation like AND, OR, NOT and etc.

In [ ]:
# Evaluates if both value is true, if not then false
output = value_1 is value_2
print(output)

False

In [ ]:
# Evaluates if both value is false, if not then true
output = value_1 is not  value_2
print(output)

True

In [ ]:
a = True
b = False

![AND.PNG]()

In [ ]:
# AND Operator
output = a and b
print(output)

False

![Or.PNG]()

In [ ]:
# OR Operator
output = a or b
print(output)

True

![image.png]()

In [ ]:
# NOT Operator
output = not(a and b)
print(output)

True

![Xor.PNG]()

In [ ]:
# XOR Operator
output = not(a and b) or (a and not b)
print(output)

True

### Input Output
*  Input Output in Python it is much more easier to understand unlike other programming language and there are many ways to do it.

In [ ]:
'''
These block of code is based on Programiz and was modified by 国境地帯のドリクスタ.
'''

In [ ]:
# Basic input
name = input('Enter a name: ')
n = 14
name, n

In [ ]:
# Specifying data type of an input
n = int(input('Enter First number: '))
f = float(input('Enter second number:'))
n, f

In [ ]:
# Basic output
print ('Hello kunai!')

In [ ]:
# Input and output
name = input ('Enter your name: ')
print ('Your name is ', name)

In [ ]:
# sep and end function
'''
sep -- as seperator between values
end --  defaults as a new line and prints after printing all the value
'''

print ('Aykee', 'Drixter', 'Daryll', 'Iñaki', sep=' and ', end=' transform!')

In [ ]:
# eval function, automatically evaluate given string
eval ('10+30')

In [ ]:
# Formatting
name = 'AIDA'
n = 58025
print ('Our next class is {} with section code {}.'.format(name,n))

# We can also specify values based on their index number
print ('Our next class is {1} with section code {0}.'.format(name,n))

In [ ]:
# Format a number based on their decimal place
n = 14.129945
print ('The price of that ballpen is {:.2f}.'.format(n))
print ('However, the exact price is {:.5f}.'.format(n))

In [ ]:
# Format a number based on their decimal place using percentage
n = 8545.56518419
print ('The price of that cellphone is {:.4%}.'.format(n))
print ('However, the exact price is {:.1%}.'.format(n))

The price of that cellphone is 854556.5184%.
However, the exact price is 854556.5%.

In [ ]:
# Simple program
name = input("What is your name? ")
age = int(input("How about your age? "))
year = (2020-age) + 100
print("You are ",name, " aged ",age, end='. ')
print('You will turn 100 in the year ', year, end='.')

## Looping Statements
---
* Looping Statements in Python does not use curly braces but increment to indicate that the code is inside of the looping statements.

### While

In [ ]:
'''
These block of code is based on W3Schools and was modified by 国境地帯のドリクスタ.
'''

In [ ]:
# While loop basic representation
count = 0
while count <= 3:
  print ('Number ', count)
  count += 1

'''
the program stops at count = 4, because while statement 4 <= 3 is no longer true.
incrementing is important or else the loop will go on forever
'''

In [ ]:
# While loop with else
count = 3
while count >= 1 :
  print(count)
  count -= 1
else:
  print("Stop!")

In [ ]:
# Continue statement
'''
continue function -- skip the rest of the code and go with the next iteration
'''
count = 5
while count >= 1 :
  count -= 1
  if count == 2:
    print ('This is a special number', count)
    continue
  print(count)

In [ ]:
# Break statement
'''
break function -- terminates and exits the loop
'''
count = 1
while count <= 10 :
  count += 1.5
  if count == 8.5:
    print (count, 'is a special number and it will break the program')
    break
  print(count)

### For

In [ ]:
# Basic for loop
friends = ['Aykee', 'Daryll', 'Drixter', 'Iñaki']
for tao in friends:
  print('Kunai ', tao)

Kunai  Aykee
Kunai  Daryll
Kunai  Drixter
Kunai  Iñaki

In [ ]:
# Basic for loop with break
friends = ['Aykee', 'Daryll', 'Drixter', 'Iñaki']
for friend in friends:
  if friend == 'Drixter':
    break
  print('Kunai ', friend)

In [ ]:
# Basic for loop with break
friends = ['Aykee', 'Daryll', 'Drixter', 'Iñaki', 'Alyana', 'Humbert']
for kaibigan in friends:
  if kaibigan == 'Iñaki':
    continue
  print('Kunai ', kaibigan)

In [ ]:
# for loop in string
for letter in '国境地帯のドリクスタ':
  print (letter)

In [ ]:
# range function
''' 
in between values from first argument to  last argument
'''
for x in range(10, 15):
  print(x)

## Flow Control
---
* Flow controls in Python are the same in other programming language they are if, elif ( else if ), and else, just like looping statement they don't use cury braces but spaces to indicate that the code is inside the conditional statement.

### Condition Statements

In [ ]:
'''
These block of code is based on Programiz and was modified by 国境地帯のドリクスタ.
'''

'\nThese block of code is based on Programiz and was modified by 国境地帯のドリクスタ.\n'

In [ ]:
# if and else statement
a = 15
b = 20
if b < a:
  print('True for if')

'''
else can be used without elif
else is the default if IF statement is false
'''

else:
  print ('False for else')

In [ ]:
# elif statement
'''
elif -- means else if, a statement used to check expression specifically
'''
n = 14
if n > 14:
  print ('Bigger than 14')
elif n == 14:
  print ('This is number 14')
else:
  print ('Lower than 14')

In [ ]:
# sample program
s = float(input("Enter score: "))
if s > 1:
    print('Error')
elif s >= 0.9:
    print('A')
elif s >= 0.8:
    print('B')
elif s >= 0.7:
    print('C')
elif s >= 0.6:
    print('D')
else:
  print ('F')

In [ ]:
# nested if elif else program
s = float(input('Enter number: '))
if s < 1000:
  if s > 500:
    print('Less than 1000')
  elif s == 250:
    print ('This is 250')
  else:
    print('Less than 500')
else:
  print('Greater than 1000')

## Functions
---

In [ ]:
'''
The block of code is inspired on Programiz and was modified by 国境地帯のドリクスタ.
The translation of Morse Code is from Electronic Notes
'''
# A dictionary containing the translations of Morse Code
morseCodeTranslation = {'A': '.-', 'B': '-...', 'C': '-.-.',
                   'D': '-..', 'E': '.',
                   'F': '..-.', 'G': '--.', 'H': '....',
                   'I': '..', 'J': '.---', 'K': '-.-',
                   'L': '.-..', 'M': '--', 'N': '-.',
                   'O': '---', 'P': '.--.', 'Q': '--.-',
                   'R': '.-.', 'S': '...', 'T': '-',
                   'U': '..-', 'V': '...-', 'W': '.--',
                   'X': '-..-', 'Y': '-.--', 'Z': '--..',
                   '1': '.----', '2': '..---', '3': '...--',
                   '4': '....-', '5': '.....', '6': '-....',
                   '7': '--...', '8': '---..', '9': '----.',
                   '0': '-----', ', ': '--..--', '.': '.-.-.-',
                   '?': '..--..', '/': '-..-.', '-': '-....-',
                   '(': '-.--.', ')': '-.--.-'}

# A function that converts the Original Message from Morse Code to Alphanumeric Characters
def transformToText(originalMessageInMorseCode):
    originalMessageInMorseCode += ' '
    transformToText = ''
    whiteSpace = ''
    for letter in originalMessageInMorseCode:
        if (letter != ' '):
            i = 0
            whiteSpace += letter
        else:
            i += 1
            if i == 2:
                transformToText += ' '
            else:
                transformToText += list(morseCodeTranslation.keys())[list(morseCodeTranslation.values()).index(whiteSpace)]
                whiteSpace = ''
    return transformToText

# The Code Block Below is used to execute the function above
# cont is used for the looping statement
cont = "1"
while cont == "1":
    originalMessageInMorseCode = input("Insert Code Here: ")
    result = transformToText(originalMessageInMorseCode)
    result.upper()
    print(result)
    choice = input("Decrypt More Statements? \n[0] No \n[1] Yes \nChoice: ")
    if choice == "0":
        cont = "0"
    elif choice == "1":
        cont = "1"
    else:
        print("Invalid Option")

Insert Code Here: .--
W
Decrypt More Statements?
[0] No
[1] Yes
Choice: 0

### Lambda Functions
* A lambda function can take any number of arguments, but can only have one expression.

In [ ]:
# Imports the random module
import random

# Calculates the square of a random number
square = lambda x: x ** 2
number1 = (random.randint(0,10))
print(number1)
print(square(number1))

# Calculates the cube of a random number
cube = lambda x: x ** 3
number2 = (random.randint(0,10))
print(number2)
print(square(number2))

## Grade calculator

In [ ]:
'''
Create a grade calculator that computes for the semestral grade of a course.
Students could type their names, the name of the course, then their prelim,
midterm, and final grade.
The program should print the semestral grade in 2 decimal points and should
display the following emojis depending on the situation:
happy - when grade is greater than 70.00
laughing - when grade is exactly 70.00
sad - when grade is below 70.00
'''
happy, lol, sad = "\U0001F600","\U0001F923","\U0001F619"

In [ ]:
# Grade calculator code

student_name= input("Student Name: ")
course= input("Course: ")

# Function of validating the input number 
def validation(): 
  while True:
     grade = float(input("Grade: "))
     if (grade >=101): # Validate if the number is greater or equal to 101
      print("Input number less than 101..")
     else:
      return grade # return number to the variabe
  
# Validation if the input is float
while True: 
  try: # run the validation function in Prelim input
    print("Prelims")
    prelim_grade= validation()
    break 
  except ValueError: # Display if the input is not float
    print("Invalid input!")

while True:
  try: 
    print("Midterm")
    midterm_grade= validation()
    break
  except ValueError: 
    print("Invalid input!") 

while True:
  try:
    print("Finals")
    final_grade= validation()
    break
  except ValueError:
    print("Invalid input!")

# Computation of Semestral Grade
semestral_grade = float((prelim_grade*0.3)+(midterm_grade*0.3)+(final_grade*0.4)) 

# Condition equivalent emojis of Semestral Grade
if (semestral_grade > 70): 
  equivalent = "\U0001F606"
elif (semestral_grade == 70):
  equivalent ="\U0001F923"
else:
  equivalent = "\U0001F631"

print("{} Semestral Grade is: {:.2f} {}".format(student_name,semestral_grade,equivalent))

# References
[1] Programiz (2021). *Python Input, Output and Import*. Available: [[Python I/O]](https://www.programiz.com/python-programming/input-output-import) (Date Access 6-February-2021)<br>
[2] W3 Schools (2021). *Python While Loops*. Available: [[Python While Loops]](https://www.w3schools.com/python/python_while_loops.asp) (Date Access 6-February-2021) <br>
[3] Tutorialpoints (2021). *Python - Variable Types*. Available: [[Variable Types]](https://www.tutorialspoint.com/python/python_variable_types.htm) (Date Access 6-February-2021) <br>
[4] Tutorialpoints (2021). *Python - Basic Operators*. Available: [[Basic Operators]](https://www.tutorialspoint.com/python/python_basic_operators.htm) (Date Access 6-February-2021) <br>
[5] Programiz (2021). *Python if...else Statement*. Available: [[Python if...else Statement]](https://www.programiz.com/python-programming/if-elif-else) (Date Access 6-February-2021) <br>
[6] Electronics Notes (n.d.). Morse Code Chart / Table. [[Morse Code]](https://www.electronics-notes.com/articles/ham_radio/morse_code/characters-table-chart.php
) (Date Access 6-February-2021) <br> 
[7] Programiz (n.d.). Python String translate() 
. [[Python String translate()]](https://www.programiz.com/python-programming/methods/string/translate#:~:text=Join-,Python%20String%20translate(),as%20per%20the%20mapping%20table.
) (Date Access 6-February-2021) <br>